<header class="header">
  <!-- class="header" -->
  <!-- <img src="../../assets/img/adviserPortal.png" width="266" height="59" alt="User profile picture"> -->
  <img
    src="assets/img/adviserPortal.png"
    width="212"
    height="47"
    alt="Advisers portal logo"
    style="margin-left: 15px"
  />
  <!-- <img src="assets/img/logo.png" alt="trillo logo" class="logo" /> -->

  <nav class="user-nav">
    <div>
      <span class="user-nav-username">{{ user?.profileName || 'Guest' }}</span>
      <!-- <button (click)="logout()">Logout</button> -->
      <a class="user-nav__signout" role="button" (click)="logout()">
        <i class="fas fa-sign-out-alt fa-lg"></i> Sign Out
      </a>
    </div>
  </nav>
</header>
