<div class="detail">
    <div class="form-container">
        <div class="form-row">
            <div class="overview" id="formTitle">
                <h1 class="functional__heading">{{ journey }}</h1>
            </div>
        </div>
        <div class="form-row">
            <div class="overview">
                <h1 class="overview__subheading">Driving & Claim Experience</h1>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="hasDrivingLicense">Do you hold a driving license?</label>
                    <select id="hasDrivingLicense" formControlName="hasDrivingLicense">
                        <option></option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <div *ngIf="f['hasDrivingLicense'].errors" class="invalid-input">
                        <div *ngIf="f['hasDrivingLicense'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="classOfLicense">Which class of license?</label>
                    <select id="classOfLicense" formControlName="classOfLicense">
                        <option></option>
                        <option>A</option>
                        <option>A2</option>
                        <option>A3</option>
                        <option>B Light</option>
                        <option>B Light Automatic</option>
                        <option>B3</option>
                        <option>C</option>
                        <option>C1</option>
                        <option>CE</option>
                        <option>F</option>
                    </select>
                    <div *ngIf="f['classOfLicense'].errors" class="invalid-input">
                        <div *ngIf="f['classOfLicense'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="licenseYear">Year license was attained</label>
                    <input type="text" id="licenseYear" formControlName="licenseYear" />
                    <div *ngIf="f['licenseYear'].errors" class="invalid-input">
                        <div *ngIf="f['licenseYear'].errors['conditionalRequired']">
                            Required
                        </div>
                        <div *ngIf="f['licenseYear'].errors['mustBeNumber']">
                            Must be a valid number
                        </div>
                        <div *ngIf="f['licenseYear'].errors['mustBePositiveNumber']">
                            Must be a positive number
                        </div>
                    </div>
                </div>
                <div class="text-input-intg"></div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="hasHadAccidentLast5Years">Have you ever had a motor vehicle accident or loss during the
                        past five years?</label>
                    <select id="hasHadAccidentLast5Years" formControlName="hasHadAccidentLast5Years">
                        <option></option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <div *ngIf="f['hasHadAccidentLast5Years'].errors" class="invalid-input">
                        <div *ngIf="f['hasHadAccidentLast5Years'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="dateOfAccident">When?</label>
                    <input type="date" id="dateOfAccident" formControlName="dateOfAccident" />
                    <div *ngIf="submitted && f['dateOfAccident'].errors" class="invalid-input">
                        <div *ngIf="f['dateOfAccident'].errors['conditionalRequired']">
                            Required
                        </div>
                        <div *ngIf="f['dateOfAccident'].errors['futureDate']">
                            Future date is not valid
                        </div>
                        <div *ngIf="f['dateOfAccident'].errors['invalidValue']">
                            Date value is not valid
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="natureOfAccident">Nature of Accident</label>
                    <input type="text" id="natureOfAccident" formControlName="natureOfAccident" />
                    <div *ngIf="f['natureOfAccident'].errors" class="invalid-input">
                        <div *ngIf="f['natureOfAccident'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lossEstimate">Estimated amount of loss</label>
                    <input type="text" id="lossEstimate" formControlName="lossEstimate" />
                    <div *ngIf="f['lossEstimate'].errors" class="invalid-input">
                        <div *ngIf="f['lossEstimate'].errors['conditionalRequired']">
                            Required
                        </div>
                        <div *ngIf="f['lossEstimate'].errors['mustBeNumber']">
                            Must be a valid number
                        </div>
                        <div *ngIf="f['lossEstimate'].errors['mustBePositiveNumber']">
                            Must be a positive number
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="hasOffenceConviction">Have you ever been convicted of any motoring offence?</label>
                    <select id="hasOffenceConviction" formControlName="hasOffenceConviction">
                        <option></option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <div *ngIf="f['hasOffenceConviction'].errors" class="invalid-input">
                        <div *ngIf="f['hasOffenceConviction'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="hasOffenceConvictionDetails">If "yes", provide details</label>
                    <textarea rows="1" id="hasOffenceConvictionDetails" formControlName="hasOffenceConvictionDetails"></textarea>
                    <div *ngIf="submitted && f['hasOffenceConvictionDetails'].errors" class="invalid-input">
                        <div *ngIf="f['hasOffenceConvictionDetails'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="vehiclesInsured">Have you been insured in respect of the above vehicle(s)?</label>
                    <select id="vehiclesInsured" formControlName="vehiclesInsured">
                        <option></option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <div *ngIf="f['vehiclesInsured'].errors" class="invalid-input">
                        <div *ngIf="f['vehiclesInsured'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="vehiclesInsuredDetails">If "yes", by which company?</label>
                    <textarea rows="3" id="vehiclesInsuredDetails" formControlName="vehiclesInsuredDetails"></textarea>
                    <div *ngIf="submitted && f['vehiclesInsuredDetails'].errors" class="invalid-input">
                        <div *ngIf="f['vehiclesInsuredDetails'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="coverRequired">What type of cover do you require?</label>
                    <select id="coverRequired" formControlName="coverRequired">
                        <option></option>
                        <option>Comprehensive</option>
                        <option>Third Party, Fire and Theft</option>
                        <option>Third Party only</option>
                    </select>
                    <div *ngIf="f['coverRequired'].errors" class="invalid-input">
                        <div *ngIf="f['coverRequired'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-highlight">
                    <div class="highlight-1">Extra Benefits available at an additional premium (Comprehensive Vehicles only)</div>
                </div>
            </div>

            <div class="form-row">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. Extra Windscreen Cover above Kshs 30,000</td>
                            <td><input type="checkbox" id="extraWindscreenCover" value="extraWindscreenCover"
                                    formControlName="extraWindscreenCover"></td>
                            <td>Limit 10% of the extra limit</td>
                        </tr>
                        <tr>
                            <td>2. Extra Radio Cassette Limit above Kshs 30,000</td>
                            <td><input type="checkbox" id="extraRadioCassetteLimit" value="extraRadioCassetteLimit"
                                    formControlName="extraRadioCassetteLimit"></td>
                            <td>Limit 10% of the extra limit</td>
                        </tr>
                        <tr>
                            <td>3. Riot, Strike & Political violence</td>
                            <td><input type="checkbox" id="riotStrikePoliticalViolence"
                                    value="riotStrikePoliticalViolence" formControlName="riotStrikePoliticalViolence">
                            </td>
                            <td>Additional premium of 0.25% of vehicle value</td>
                        </tr>
                        <tr>
                            <td>4. Car Hire - Cash Benefit up to Kshs 30,000 (Vehicles above Kshs. 1 million only)</td>
                            <td><input type="checkbox" id="carHire" value="carHire" formControlName="carHire"></td>
                            <td>Additional premium of Kshs 3,000 per vehicle</td>
                        </tr>
                        <tr>
                            <td>5. Forced ATM withdrawal - Up to Kshs 10,000</td>
                            <td><input type="checkbox" id="forcedATMWithdrawal10K" value="forcedATMWithdrawal10K"
                                    formControlName="forcedATMWithdrawal10K"></td>
                            <td>Additional premium of Kshs 1,000 per vehicle</td>
                        </tr>
                        <tr>
                            <td>5. Forced ATM withdrawal - Up to Kshs 7,500</td>
                            <td><input type="checkbox" id="forcedATMWithdrawal7500" value="forcedATMWithdrawal7500"
                                    formControlName="forcedATMWithdrawal7500"></td>
                            <td>Additional premium of Kshs 750 per vehicle</td>
                        </tr>
                        <tr>
                            <td>7. Loss of spare wheel (vehicles above Kshs 1 million only)</td>
                            <td><input type="checkbox" id="lossOfSpareWheel10K" value="lossOfSpareWheel10K"
                                    formControlName="lossOfSpareWheel10K"></td>
                            <td>Additional premium of Kshs 1,000 per vehicle</td>
                        </tr>
                        <tr>
                            <td>8. Loss of spare wheel (vehicles above Kshs 1 million only)</td>
                            <td><input type="checkbox" id="lossOfSpareWheel7500" value="lossOfSpareWheel7500"
                                    formControlName="lossOfSpareWheel7500"></td>
                            <td>Additional premium of Kshs 750 per vehicle</td>
                        </tr>
                        <tr>
                            <td>9. Tracking Devices</td>
                            <td><input type="checkbox" id="trackingDevices" value="trackingDevices"
                                    formControlName="trackingDevices"></td>
                            <td>Additional premium of Kshs 25,000 per vehicle</td>
                        </tr>
                        <tr>
                            <td>10. Excess Waiver</td>
                            <td><input type="checkbox" id="excessWaiver" value="excessWaiver"
                                    formControlName="excessWaiver"></td>
                            <td>Additional premium of 0.25% of vehicle value</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-row">
                <div class="text-input-highlight">
                    <div class="highlight-1">DECLARATION</div>
                </div>
            </div>

            <div class="form-row">
                <p class="form-paragraph1">
                    I/we declare that to my/our knowledge the answers and particulars given in this proposal are true
                    and complete that I/we have not withheld any material information and that the vehicle(s) described
                    is/are in good condition. I/we further agree that this proposal and declaration shall be the basis
                    of the contract between me/us and Old Mutual whose policy is applicable to this insurance, I/we
                    agree to accept. I/we confirm that I/we have read and understood the above Privacy Notice and the
                    Privacy Policy and that any queries/concerns I/we have with regard to the nature and purpose of the
                    processing of personal data have been adequately addressed
                </p>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="dateOfCompletion">Date of completion of proposal</label>
                    <input type="date" id="dateOfCompletion" formControlName="dateOfCompletion" />
                    <div *ngIf="submitted && f['dateOfCompletion'].errors" class="invalid-input">
                        <div *ngIf="f['dateOfCompletion'].errors['required']">
                            Required
                        </div>
                        <div *ngIf="f['dateOfCompletion'].errors['futureDate']">
                            Future date is not valid
                        </div>
                        <div *ngIf="f['dateOfCompletion'].errors['invalidValue']">
                            Date value is not valid
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="personCompletingProposal">Name of person completing proposal</label>
                    <input type="text" id="personCompletingProposal" formControlName="personCompletingProposal" />
                    <div *ngIf="f['personCompletingProposal'].errors" class="invalid-input">
                        <div *ngIf="f['personCompletingProposal'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg"></div>
            </div>

            <div class="form-row">
                <button class="ombutton lefted with-icon" type="submit" (click)="previous()">
                    <img class="flippy" src="../../assets/img/arrow-right-light.svg" alt="" />
                    prev
                </button>
                <button class="ombutton lefted with-icon" type="submit" (click)="onSubmit()">
                    next
                    <img src="../../assets/img/arrow-right-light.svg" alt="" />
                </button>
            </div>
        </form>
    </div>
</div>