<div class="detail">
    <div class="form-container">
        <div class="form-row">
            <div class="overview" id="formTitle">
                <h1 class="functional__heading">{{ journey }}</h1>
            </div>
        </div>
        <div class="form-row">
            <div class="overview">
                <h1 class="overview__subheading">Life Wrapper</h1>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-row">
                <p class="form-paragraph1">Life Wrapper Benefit: This is a benefit accessible to your beneficiaries in the unfortunate event of
                    your passing on.
                    It supports them in covering the resultant expenses of paying their last respects. The cover valued
                    at Kshs 50,000 payable within 48 hours
                    of filing a claim from and submission of an original ID/certified ID copy of the deceased and
                    nominated beneficiary and a burial permit
                </p>
            </div>

            <!-- <div class="form-row">
                <p class="overview__subheading2 collapsible">
                    Terms and conditions <i [ngClass]="displayed ? 'fa fa-minus' : 'fa fa-plus'" aria-hidden="true" (click)="toggle()"></i>
                </p>
            </div> -->

            <div class="form-row">
                <div class="text-input-highlight">
                    <div class="collapsible highlight-1" (click)="toggle()">
                        {{ displayText }}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <ul class="form-list1" [hidden]="!displayed">
                    <li>Must hold at least one of the following unit trusts accounts: Equity fund, Money Market Fund,
                        Balanced Fund, Toboa Investment Plan & Bond Fund</li>
                    <li>Must have a minimum bakance of KES 200,000.00 at the end of every month</li>
                    <li>Minimum age 18 years (age last birthday) and maximum age 74 years (age last birthday) of the
                        account holder</li>
                    <li>Only eligible to individual clients and not corporate clients. For joint accounts, only one
                        holder will be covered</li>
                    <li>Exclusions: Benefit shall not be payable if death is brought about or accelerated by: Suicide
                        (whether sane or insane):
                        <ul class="form-list2">
                            <li>The influence of alcohol</li>
                            <li>Engaging in aviation except as a passenger on a recognized airline</li>
                            <li>Participants in any hazardous sport or pursuit including rock climbing, scuba diving,
                                hang-gliding and aided speed contests of any kind
                            </li>
                            <li>Committing a felony</li>
                            <li>An unsound mind</li>
                            <li>Any biological and chemical incidents</li>
                            <li>Use of illegal drugs</li>
                            <li>Nuclear and radiation disaster</li>
                        </ul>
                    <li>Cession: You may NOT cede your Contract in any way</li>
                    <li>Only amendment allowd to the policy is change in the beneficiary</li>
                </ul>

            </div>

            <div class="form-row">
                <div class="text-input-highlight">
                    <div class="highlight-1">Beneficiary Nomination</div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="lwBNFirstName">First Name</label>
                    <input type="text" id="lwBNFirstName" formControlName="lwBNFirstName" />
                    <div *ngIf="submitted && f['lwBNFirstName'].errors" class="invalid-input">
                        <div *ngIf="f['lwBNFirstName'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwBNSurname">Surname</label>
                    <input type="text" id="lwBNSurname" formControlName="lwBNSurname" />
                    <div *ngIf="submitted && f['lwBNSurname'].errors" class="invalid-input">
                        <div *ngIf="f['lwBNSurname'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwBNIDorPassportNo">ID / Passport Number</label>
                    <input type="text" id="lwBNIDorPassportNo" formControlName="lwBNIDorPassportNo" />
                    <div *ngIf="submitted && f['lwBNIDorPassportNo'].errors" class="invalid-input">
                        <div *ngIf="f['lwBNIDorPassportNo'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="lwBNRelationship">Relationship</label>
                    <input type="text" id="lwBNRelationship" formControlName="lwBNRelationship" />
                    <div *ngIf="submitted && f['lwBNRelationship'].errors" class="invalid-input">
                        <div *ngIf="f['lwBNRelationship'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwBNPostalAddress">Postal Address</label>
                    <input type="text" id="lwBNPostalAddress" formControlName="lwBNPostalAddress" />
                    <div *ngIf="submitted && f['lwBNPostalAddress'].errors" class="invalid-input">
                        <div *ngIf="f['lwBNPostalAddress'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwBNMobileNo">Mobile Number</label>
                    <input type="text" id="lwBNMobileNo" formControlName="lwBNMobileNo" />
                    <div *ngIf="submitted && f['lwBNMobileNo'].errors" class="invalid-input">
                        <div *ngIf="f['lwBNMobileNo'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="lwBNEMail">EMail</label>
                    <input type="text" id="lwBNEMail" formControlName="lwBNEMail" />
                    <div *ngIf="submitted && f['lwBNEMail'].errors" class="invalid-input">
                        <div *ngIf="f['lwBNEMail'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwIsMinor">Is the beneficiary a minor?</label>
                    <select id="lwIsMinor" formControlName="lwIsMinor">
                        <option></option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    <div *ngIf="submitted && f['lwIsMinor'].errors" class="invalid-input">
                        <div *ngIf="f['lwIsMinor'].errors['required']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg"></div>
            </div>

            <div class="form-row">
                <div class="overview">
                    <p class="overview__subheading2_ital">Note: If the beneficiary is a minor, please nominate a
                        guardian</p>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-highlight">
                    <div class="highlight-1">Guardian</div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="lwGuardianFirstName">First Name</label>
                    <input type="text" id="lwGuardianFirstName" formControlName="lwGuardianFirstName" />
                    <div *ngIf="submitted && f['lwGuardianFirstName'].errors" class="invalid-input">
                        <div *ngIf="f['lwGuardianFirstName'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwGuardianSurname">Surname</label>
                    <input type="text" id="lwGuardianSurname" formControlName="lwGuardianSurname" />
                    <div *ngIf="submitted && f['lwGuardianSurname'].errors" class="invalid-input">
                        <div *ngIf="f['lwGuardianSurname'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwGuardianIDorPassportNo">ID / Passport Number</label>
                    <input type="text" id="lwGuardianIDorPassportNo" formControlName="lwGuardianIDorPassportNo" />
                    <div *ngIf="submitted && f['lwGuardianIDorPassportNo'].errors" class="invalid-input">
                        <div *ngIf="f['lwGuardianIDorPassportNo'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="lwGuardianRelationship">Relationship</label>
                    <input type="text" id="lwGuardianRelationship" formControlName="lwGuardianRelationship" />
                    <div *ngIf="submitted && f['lwGuardianRelationship'].errors" class="invalid-input">
                        <div *ngIf="f['lwGuardianRelationship'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwGuardianPostalAddress">Postal Address</label>
                    <input type="text" id="lwGuardianPostalAddress" formControlName="lwGuardianPostalAddress" />
                    <div *ngIf="submitted && f['lwGuardianPostalAddress'].errors" class="invalid-input">
                        <div *ngIf="f['lwGuardianPostalAddress'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg">
                    <label for="lwGuardianMobileNo">Mobile Number</label>
                    <input type="text" id="lwGuardianMobileNo" formControlName="lwGuardianMobileNo" />
                    <div *ngIf="submitted && f['lwGuardianMobileNo'].errors" class="invalid-input">
                        <div *ngIf="f['lwGuardianMobileNo'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="text-input-intg">
                    <label for="lwGuardianEMail">EMail</label>
                    <input type="text" id="lwGuardianEMail" formControlName="lwGuardianEMail" />
                    <div *ngIf="submitted && f['lwGuardianEMail'].errors" class="invalid-input">
                        <div *ngIf="f['lwGuardianEMail'].errors['conditionalRequired']">
                            Required
                        </div>
                    </div>
                </div>
                <div class="text-input-intg"></div>
                <div class="text-input-intg"></div>
            </div>

            <div class="form-row">
                <button class="ombutton lefted with-icon" type="submit" (click)="previous()">
                    <img class="flippy" src="../../assets/img/arrow-right-light.svg" alt />
                    prev
                </button>
                <button class="ombutton lefted with-icon" type="submit" (click)="onSubmit()">
                    next
                    <img src="../../assets/img/arrow-right-light.svg" alt="" />
                </button>
            </div>
        </form>
    </div>
</div>