<nav class="sidebar">
  <ul class="side-nav">
    
    <!-- <li class="side-nav__item">
      <a routerLink="/portal/test" class="side-nav__link">
        <i class="fa fa-archive fa-2x"></i>
      </a>
      <p>Sample Form</p>
    </li> -->
    <li class="side-nav__item">
      <a routerLink="/" class="side-nav__link">
        <i class="fa fa-home fa-2x"></i>
      </a>
      <p>Home</p>
    </li>
    <li class="side-nav__item">
      <a routerLink="/portal/select-plan" class="side-nav__link">
        <!-- <i class="fa fa-thumbs-up fa-2x"></i> -->
        <i class="fa-solid fa-people-roof fa-2x"></i>
      </a>
      <p>Onboarding</p>
    </li>
    <li class="side-nav__item">
      <a routerLink="/portal/login" class="side-nav__link">
        <i class="fa fa-wrench fa-2x"></i>
      </a>
      <p>Link 1</p>
    </li>
    <li class="side-nav__item">
      <a routerLink="portal/dashboard" class="side-nav__link">
        <i class="fa fa-handshake fa-2x"></i>
      </a>
      <p>Link 2</p>
    </li>
    <li class="side-nav__item">
      <a routerLink="#" class="side-nav__link">
        <i class="fa fa-coins fa-2x"></i>
      </a>
      <p>Link 3</p>
    </li>
  </ul>

  <!-- <div class="legal">&copy; 2017 by trillo. All rights reserved.</div> -->
</nav>
