<main class="main-view">
  <div class="overview">
    <h1 class="overview__heading">Welcome to the Adviser Portal</h1>
  </div>

  <div class="detail">
    <div class="description">
      <div class="line-row">
        <p class="blurb-home">
          Personal investments and insurance policies are essential tools for securing your financial future and
          providing
          peace of mind. Investing wisely helps you build wealth over time, allowing you to achieve long-term goals such
          as buying a home, funding education, or enjoying a comfortable retirement.
        </p>
      </div>
      <div class="line-row">
        <img src="../../assets/img/advisor1.png">
        <p class="blurb-home">
          On the other hand, insurance policies
          act as a safety net, protecting you and your loved ones from unexpected financial burdens caused by accidents,
          health issues, or property loss. Together, they create a balanced approach to managing risk and opportunity,
          ensuring that you can navigate life's uncertainties with confidence and stability
          <br>
          <br>
          Trends reveal a growing awareness and adaptation to the need for comprehensive coverage in an increasingly
          unpredictable world. Recent data shows a significant rise in individuals seeking diverse insurance products,
          from health and life insurance to property and cyber insurance.
          <br>
          <br>
          This shift reflects heightened concerns about
          personal and financial security amid global uncertainties and technological advancements. Consumers are
          increasingly recognizing the value of tailored insurance solutions that offer protection against a wide range
          of risks.
        </p>
      </div>
      <div class="line-row">
        <p class="blurb-home">
          As these trends evolve, Old Mutual is responding with innovative products and digital
          platforms, making it easier for people to access and manage their coverage effectively
        </p>
      </div>

    </div>
  </div>
</main>