<main class="main-view">
  <div class="overview">
    <h1 class="overview__heading">Dashboard</h1>
  </div>

  <div class="form-row">
    <div class="chartcard">
      <p>Line graph thingy ...</p>
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
    <div class="chartcard">
      <p>A doughnut thingy ...</p>
      <canvas id="pieCanvas">{{ pie_chart }}</canvas>
    </div>
  </div>

  <div class="form-row">
    <div class="chartcard">
      <p>A scatter thingy ...</p>
      <canvas id="scatterCanvas" height="50px">{{ scatter_chart }}</canvas>
      
    </div>
  </div>

  <div class="form-row">
    <div class="chartcard">
      <p>A summaries thingy ...</p>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Sales</th>
            <th>More</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <i class="fa fa-tags mr-2"></i>
              Motor Private Cover
            </td>
            <td>Ksh 329,000</td>
            <td>
              <small class="text-success mr-1">
                <i class="fas fa-arrow-up"></i>
                12%
              </small>
              1,000 Sold
            </td>
            <td>
              <a href="#" class="text-muted">
                <i class="fas fa-search"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-tags mr-2"></i>
              Student Personal Accident
            </td>
            <td>Kshs 43,500</td>
            <td>
              <small class="text-warning mr-1">
                <i class="fas fa-arrow-down"></i>
                0.5%
              </small>
              123 Sold
            </td>
            <td>
              <a href="#" class="text-muted">
                <i class="fas fa-search"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-tags mr-2"></i>
              Golfer's Insurance
            </td>
            <td>Kshs 34,900</td>
            <td>
              <small class="text-danger mr-1">
                <i class="fas fa-arrow-down"></i>
                3%
              </small>
              198 Sold
            </td>
            <td>
              <a href="#" class="text-muted">
                <i class="fas fa-search"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-tags mr-2"></i>
              Marine Cargo
              <span class="badge bg-danger">NEW</span>
            </td>
            <td>Kshs 4,500</td>
            <td>
              <small class="text-success mr-1">
                <i class="fas fa-arrow-up"></i>
                63%
              </small>
              87 Sold
            </td>
            <td>
              <a href="#" class="text-muted">
                <i class="fas fa-search"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-row"></div>
</main>