<div [ngClass]="containerClassDef">
  <app-header *ngIf="user"></app-header>
  <div class="content">
    <app-leftbar *ngIf="user"></app-leftbar>
    <main class="main-view">
      <breadcrumb></breadcrumb>
      <alert></alert>
      <router-outlet></router-outlet>
      <div class="underview" *ngIf="user">
        <p>
          Support: <i class="fa fa-phone" aria-hidden="true"></i> +254 ......<br />
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          support@......<br />
        </p>
        <img src="assets/img/om_logo_green1.png" width="59px" height="109px" />
        <!-- <img src="assets/img/logo.png" alt="trillo logo" /> -->
      </div>
    </main>
  </div>
</div>