<div class="login-container">
    <div class="login-card-noMinHeight centered">
        <div id="bannerLogo">
            <img src="../assets/img/adviserPortal.png" width="212" height="47" alt="Advisers portal logo"
                style="margin-left: 15px" />
            <h2>{{ ackMessage }}</h2>
        </div>
        <div id="functionBar" class="summary-row"></div>
        <div class="summary-row">
          <div *ngIf="upstreamServerSuccessMsg" class="success-input">
            {{ upstreamServerSuccessMsg }}
          </div>
          <div *ngIf="upstreamServerErrorMsg" class="invalid-input data-table-error">
            {{ upstreamServerErrorMsg }}
          </div>
        </div>
        <div>
            <button class="ombutton-link2" type="button" (click)="navigate('/account/login')">
                Log In
            </button>
        </div>
    </div>
</div>