<div class="detail">
    <div class="form-container">
      <div class="form-row">
        <div id="bannerLogo">
          <img src="../assets/img/adviserPortal.png" width="212" height="47" alt="Advisers portal logo"
              style="margin-left: 15px" />
        </div>
      </div>
      <div class="form-row">
        <div class="overview">
          <h1 class="overview__subheading">Verify ID</h1>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
        <div class="form-row">
          <div class="text-input-intg">
            <label for="id_type">Identification Document</label>
            <select id="id_type" formControlName="id_type">
              <option></option>
              <option>National ID</option>
              <option>Passport</option>
              <option>Alien ID</option>
            </select>
            <div *ngIf="f['id_type'].errors" class="invalid-input">
              <div *ngIf="f['id_type'].errors['required']">
                Required
              </div>
            </div>
          </div>
          <div class="text-input-intg">
            <label for="id_number">Document Number</label>
            <input type="text" id="id_number" formControlName="id_number" />
            <div *ngIf="f['id_number'].errors" class="invalid-input">
              <div *ngIf="f['id_number'].errors['required']">
                Required
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="text-input-intg"></div>
          <div class="text-input-intg"></div>
        </div>

        <div id="functionBar" class="summary-row"></div>
        <div class="summary-row">
          <div *ngIf="upstreamServerSuccessMsg" class="success-input">
            {{ upstreamServerSuccessMsg }}
          </div>
          <div *ngIf="upstreamServerErrorMsg" class="invalid-input data-table-error">
            {{ upstreamServerErrorMsg }}
          </div>
        </div>
  
        <div class="form-row">
          <button class="ombutton lefted with-icon" type="button" (click)="verify()">
            verify
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button id="verifyIdNext" *ngIf="searchComplete === true" class="ombutton lefted with-icon" type="submit" (click)="onSubmit()">
            next
            <img src="../assets/img/arrow-right-light.svg" alt="" />
          </button>
        </div>
      </form>
    </div>
  </div>